<h1>Branches</h1>

<ul id='branches' class='listing'>
  <% for branch in @branches %>
    <% latest_build = branch.builds.first(:order => "created_at DESC") %>s
    <li class='<%= cycle("even", "odd") %> <%= latest_build.status %>'>  
      <%= link_to branch.name, project_branch_builds_path(@project, branch) %>
      <div class="meta">Build <%= latest_build %> <%= latest_build.report %></div>
    </li>
  <% end %>
</ul>