<h1>Branches</h1>

<ul id='branches' class='listing'>
  <% for branch in @branches %>
    <li class='<%= cycle("even", "odd") %> <%= branch.builds.first.status %>'>  
      <%= link_to branch.name, project_branch_builds_path(@project, branch) %>
      <div class="meta">Build <%= branch.builds.first %> <%= branch.builds.first.report %></div>
    </li>
  <% end %>
</ul>