<div id='last_build' class='build <%= build.simple_status %>'>
  <div id='build_header'>
    <h2>Build #<%= build.number %> - <%= build.commit.short_sha %> - <%= build.report %></h2>
    <%= button_to "Fetch & Build Latest", build_latest_project_branch_path(@project, build.branch) %>
    <% form_for build, :url => rebuild_project_build_path(@project, build) do |f| %>
      <p class="submit">
        <button type="submit" title="Rebuild this commit">Rebuild this commit</button>
      </p>
    <% end %>
    <blockquote>
      <p><%= simple_format(build.commit.message) %></p><br>
      <small>by <%= build.commit.author %>
        on <%= build.commit.timestamp.strftime("%B") %> <%= build.commit.timestamp.strftime("%d").to_i.ordinalize %>
      </small>
    </blockquote>
  </div>
  
  <h3>Build instructions</h3>
  <pre class="output" id='build_instructions'><%= build.instructions %></pre>
  
  <h3>Build output</h3>
  <pre class="output" id='build_output'><%= color_format(build.run_output) %></pre>
  <script>
  var objDiv = document.getElementById("build_output");
  objDiv.scrollTop = objDiv.scrollHeight;
  </script>
  
  <% if build.run_errors %>
    <h3>Build errors</h3>
    <pre class="output" id='build_errors'><%= color_format(build.run_errors) %></pre>
    <script>
    var objDiv = document.getElementById("build_errors");
    objDiv.scrollTop = objDiv.scrollHeight;
    </script>
  <% end %>
  
  <h3>Final status: <%= build.status %></h3>

  </pre>
  <%= render :partial => "list", :locals => { :type => :before, :builds => @before_builds } %>
  <br>
  <%= render :partial => "list", :locals => { :type => :after, :builds => @after_builds } %>
</div>