- unless builds.empty?
  %h3
    = "Builds #{type} this one".titleize
    
  - for build in builds
    %ul.builds{ :id => "#{type}_builds" }
      %li{ :class => build.simple_status }
        - link_to project_build_path(@project, build) do
          %strong.build
            Build #
            = build.number
            \-
            = build.commit.short_sha
          %span.attribution
            by
            = build.commit.author
            , on
            = build.commit.timestamp.strftime("%B")
            = build.commit.timestamp.strftime("%d").to_i.ordinalize
            = build.commit.timestamp.strftime("%H:%M")
          .right
            = build.status
          
- else
  %p= "There are no builds #{type} this one."
