<h1>Editing Project</h1>

<% form_for @project do |f| %>
  <p>
    <%= f.label :instructions %>
    <%= f.text_area :instructions, :cols => 120 %>
  </p>
  
  <p>
    <%= f.label :timeout, 'Build Timeout in Seconds' %>
    <%= f.text_field :timeout %>
  </p>
  <%= f.submit %>
<% end %>

<p>
  <%= link_to 'Delete this project', project_path(@project),
        :confirm => "This will delete everything related to the project. Are you really sure you want to do this?",
        :method  => :delete %>
</p>