<ul id='projects' class='listing'>
  <% for project in @projects %>
    <li class='<%= cycle("even", "odd") %> <%= project.builds.first.status %>'>  
      <%= link_to project.name, project_path(project) %>
      <div class="meta">Build <%= project.builds.first %> <%= project.builds.first.report %></div>
    </li>
  <% end %>
</ul>