<div id='projects' class='builds'>
  <%= render :partial => "setup_complete" if Build.queued.count == Build.count %>
  <ul>
  <% unless @projects.empty? %>
    <% for project in @projects %>
      <li class='<%= project.status %> item'>
        <h2><%= link_to project.name, project_path(project) %></h2>
          <ul class='meta'>
            <% for branch in project.branches %>
              <% latest_build = branch.builds.first(:order => "created_at DESC") %>
              <li><%= link_to(latest_build.branch, project_branch_builds_path(project, branch)) %>
              - Build <%= latest_build %> <%= latest_build.report %></li>
            <% end %>
          </ul>
          <br class='clear'>
      </li>
    <% end %>
  <% else %>
    <%= render :partial => "first_time" %>
  <% end %>
  </ul>
</div>